/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

tests/_output/*
app/config
CONTRIBUTING.md
bootstrap
vendor
app/start/global.php
app/storage
app/controllers
app/tests
app/views
app/database
server.php
app/lang
app/routes.php
app/filters.php
phpunit.xml
app/models
readme.md
public
app/start/local.php

.idea
artisan
coverage
